body {
  margin: 0;
}

@custom-media --lg-size (max-width: 1328px);
@custom-media --md-size (max-width: 808px);
@custom-media --sm-size (max-width: 656px);

header {
  display: grid;
  position: fixed;
  grid-template-columns: 25% 50% 25%;
  height: 56px;
  width: 100%;
  background-color: rosybrown;
}
.search-2 {
  display: none;
}
.header-L {
  display: flex;

  & .hamburger {
    width: 50px;
    height: 50px;
    background-color: orangered;
  }

  & .logo {
    width: 100px;
    height: 50px;
    background-color: orange;
  }
}

.header-M > form {
  display: flex;
  align-items: center;
  height: 100%;
  & .search-bar {
    width: 70%;
    height: 24px;
  }
  & .search {
    height: 30px;
    width: 30px;
  }
}

.header-R {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & .box {
    height: 30px;
    width: 30px;
    margin: 0 10px;
  }
  & .box:nth-child(even) {
    background-color: orange;
  }

  & .box:nth-child(odd) {
    background-color: orangered;
  }
}

main {
  padding-top: 56px;
}
.main-header {
  height: 30px;
}
.main-L {
  position: fixed;
  width: 20vw;
  overflow-y: scroll;
  height: calc(100vh - 56px);
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 40px;
  & .list-wrap {
    height: 40px;
    width: 100%;
  }
  & .list-wrap:nth-child(even) {
    background-color: orange;
  }

  & .list-wrap:nth-child(odd) {
    background-color: orangered;
  }
}

.main-R {
  margin-left: 20vw;
}
.main-main {
  height: calc(100% - 20px);
  display: grid;
  grid-auto-rows: 350px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  & .content-wrap {
    height: 100%;
    width: 100%;
  }
  & .content-wrap:nth-child(even) {
    & .thumbnail {
      margin-left: 5%;
      min-height: 50%;
      max-width: 90%;
      background-color: orange;
    }
  }

  & .content-wrap:nth-child(odd) {
    & .thumbnail {
      margin-left: 5%;
      min-height: 50%;
      max-width: 90%;
      background-color: orangered;
    }
  }
}
.content-1 {
  margin-left: 5%;
  width: 90%;
  height: 13%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  & div:first-child {
    background-color: rosybrown;
    height: 30px;
    width: 30px;
  }
  & div:nth-child(2) {
    background-color: sandybrown;
    height: 30px;
    width: 70%;
  }
  & div:nth-child(3) {
    background-color: rosybrown;
    height: 30px;
    width: 30px;
  }
}
.content-2 {
  margin-left: 5%;
  width: 90%;
  height: 13%;
  background-color: slateblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & div:first-child {
    background-color: rosybrown;
    height: 20px;
    width: 70%;
    margin-left: 15%;
  }
  & div:nth-child(2) {
    background-color: sandybrown;
    height: 20px;
    width: 70%;
    margin-left: 15%;
  }
}

@media (--lg-size) {
  .main-L {
    width: 60px;
    overflow-y: initial;
    & div:nth-child(n + 5) {
      display: none;
    }
  }
  .main-R {
    margin-left: 60px;
  }
}
@media (--sm-size) {
  .header-L {
    grid-column: 1/2;
  }
  .header-M {
    display: none;
  }
  .header-R {
    grid-column: 2/4;
  }
  .main-L {
    display: none;
  }
  .main-R {
    margin-left: 0px;
  }
  .search-2 {
    display: inline;
    height: 30px;
    width: 30px;
  }
}
